form {
  max-width: 200px;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    width: 100%;
    border-radius: 10px;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
h1 {
  color: #333;
}
label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  color: #333;
}
select, input[type="text"], button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
input[readonly] {
  background-color: #f9f9f9;
}