header {
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-inline: 10px;
  }
}